<!-- <button mat-button color="primary">Primary</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-icon-button>
  <mat-icon aria-label="Example icon-button with a heart icon"
    >favorite</mat-icon
  >
</button>
 -->
 <mat-toolbar>
    <span>Angular Material Demo</span>
  </mat-toolbar>
  
  <div>
    <mat-label>Name:</mat-label>
    <mat-form-field><input matInput></mat-form-field>
  </div>
  
  <div>
    <mat-label>Age:</mat-label>
    <mat-form-field><input matInput type="number"></mat-form-field>
  </div>
  
  <div>
    <mat-label>Address:</mat-label>
    <mat-form-field><input matInput></mat-form-field>
  </div>
  
  <button mat-raised-button color="primary">Submit</button>